<header>
    <nav>
        <a href="/">DuszekTshirt</a>
        <ul>
            <li><a href="/designers">Designers</a></li>
            <li><a href="/designers/new">Add Designer</a></li>
            <li><a href="/designs">Designs</a></li>
            <li><a href="/designs/new">Add Design</a></li>
        </ul>
</header>