<header>
    <nav>
        <a href="/">DuszekTshirt</a>
        <ul>
            <li><a href="/designers">Designers</a></li>
            <li><a href="/designers/new">Add Designer</a></li>
        </ul>
</header>