<h2>New Design</h2>
<form action="/designs" method="POST" envtype="multipart/form-data">
    <%- include('_form_fields') %>
    <a href="/designs">Cancel</a>
    <button type="submit">Create</button>
</form>